<html>
<head>

{% block meta %}
<meta name="description" content="Enables effective communication and networking among stakeholders of educational institutions">
<meta name="keywords" content="Alumni, Students, Faculty, College, Institution, Networking, Communication" />
<title>Groupify - NIT Warangal</title>
{% endblock meta %}

{% block startscripts %}
{% endblock startscripts %}

<LINK rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/style.css"></LINK>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{STATIC_URL}}css/flexslider.css" type="text/css" media="screen" />

<script src="{{STATIC_URL}}js/jquery-latest.min.js"></script> 

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '{{GOOGLE_SITE_CODE}}']);
  _gaq.push(['_setDomainName', 'groupify.in']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

{% block scripts %}
{% endblock scripts %}

</head>

<body>
{% block header %}
<div id="header">
	<div class="section-content"> 
		<a id="home-link" href="/"><h1 id="logo">Groupify</h1></a>
    <a href="/about" class="about-link header_link">About</a>
    {% if request.user.is_authenticated %}
    <a href="/logout" class="login header_link"> logout </a>
    <span id="sign-in-note">({{request.user.first_name}})</span>
    {% else %}
  	<a href="/sign-up" class="sign-up header_link">Sign Up</a>
    <a href="/login" class="login header_link">Login</a>
    {% endif %}
	</div>
</div>
{% endblock header %}

{% block content %}
{% endblock content %}

{% block footer %}
<div id="footer">
	<p id="footer-note">&#9400 Groupify.in 2012. All rights reserved </p>
</div>
{% endblock footer %}

</body>
</html>


