{% extends "base.html" %}
{% block content %}
<div id = "main_content">

	<div id="tabs_nav">
		<ul>
			<li><a href="/profile/edit_basic/{{profile_id}}">Personal Details</a></li>
			<li><a href="/profile/edit_weblinks/{{profile_id}}">Weblinks</a></li>
			<li class="current"><a href="#">Education</a></li>
			<li><a href="/profile/edit_employment/{{profile_id}}">Employment</a></li>
		</ul>
	</div>
	
	<div id="edit_education_form">
		<form name="edit_education_form" method="post" action="/profile/edit_education/{{profile_id}}">{% csrf_token %}
			{{ formset.management_form }}
			<a href="#">Add a school</a>
			{% for form in formset %}
			<div class="edit_education">
				<p>Education Details: {{ form.id }}</p>
				<span>College:</span>{{ form.college }}<br><br>
				<span>Degree:</span>{{ form.degree }}<br><br>
				<span>Branch:</span>{{ form.branch }}<br><br>
				<span>Year of Graduation:</span>{{ form.year_of_graduation }}
			</div>
			{% endfor %}

			<input type="submit" name="submit" value="Save Changes"/>
			<a href="/profile/view/{{profile_id}}">Cancel</a>
		</form>
	</div>
	
<br class = "cB">
{% endblock %}