{% extends "base.html" %}

{% block scripts %}
<script>
	function filterBranches() {
		var courses = document.getElementById('selectCourse')
		

	}
</script>
{% endblock %}

{% block content %}
<div id = "main_content">

	<div id="tabs_nav">
		<ul>
			<li class="current"><a href="#">Personal Details</a></li>
			<li><a href="/profile/edit_weblinks/{{profile_id}}">Weblinks</a></li>
			<li><a href="/profile/edit_education/{{profile_id}}">Education</a></li>
			<li><a href="/profile/edit_employment/{{profile_id}}">Employment</a></li>
		</ul>
	</div>
	
	<div id="pic_div">
		<img src="{{user_profile.photo.url}}" width="200px" height="200px">
		<br>
		<div id="edit_pic">
			<p>Edit picture</p>
			<input type="file" name="picture" />
		</div>
	</div>
	
	<div id="basic_details_form">
		<form name="basic_details_form" method="post" action="/profile/edit_basic/{{profile_id}}">{% csrf_token %}
			{{ form.non_field_errors }}
			<div id="basic_section">
				<span>Name:</span>{{ form.name }}<br><br>
				<span>Course:</span>
				<div class="selectBox">
					{{ form.course }}
				</div><br>
				<span>Branch:</span>
				<div class="selectBox">
					{{ form.branch }}
				</div><br>
				<span>Year of Graduation:</span>{{ form.year_of_graduation }}<br><br>
				<span>City:</span>{{ form.city }}<br><br>
				<span>About:</span>{{ form.about }}<br><br>
			</div>

			<input type="submit" name="submit" value="Save Changes"/>
			<a href="/profile/view/{{profile_id}}">Cancel</a>

		</form>
	</div>
	
<br class = "cB">
{% endblock %}