{% extends "base.html" %}

{% block scripts %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/bootstrap.min.css"></link>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/bootstrap-tagmanager.css"></link>
<script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
<script src="{{STATIC_URL}}js/bootstrap-tagmanager.js"></script>
<script>
	function filterBranches() {
		var courses = document.getElementById('selectCourse')
	}

	$(function() {

		var prefilledTags = "{{form.tagList.value}}".split(",");
		var tagsSource = JSON.parse("{{tags|escapejs}}");
		// console.log(prefilledTags);

		var tagMgrOptions = {
			prefilled: prefilledTags,
		    CapitalizeFirstLetter: true,
		    preventSubmitOnEnter: true,
		   	tagsContainer: '#currentTags',
		    typeahead: true,
		    typeaheadAjaxSource: null,
		    typeaheadSource: tagsSource,
		    delimeters: [13, 44, 188],
		    backspace: [],
		    hiddenTagListName: 'tagList',
		    blinkBGColor_1: '#FFFF9C',
		    blinkBGColor_2: '#CDE69C'
		};

		$(".tagManager").tagsManager(tagMgrOptions);

		$('.tagManager').keypress(function(e)
	    {
	        code = (e.keyCode ? e.keyCode : e.which);
	        if(code==13)
	        {
	        	pushTags($('.tagManager').val());
	        }
	    });

		$('#addtag').click(function() {
			pushTags($('.tagManager').val());
			$('.tagManager').focus();
		});

		function pushTags(tags) {
			var arr = tags.split(",");
			for(var i=0; i<arr.length; i++)
			{
				$('.tagManager').tagsManager('pushTag',arr[i].trim());
				console.log("["+arr[i].trim()+"]");
			}			
		}
	});
</script>
{% endblock %}

{% block content %}
<div id = "main_content">

	<div id="tabs_nav">
		<ul>
			<li class="current"><a href="#">Personal Details</a></li>
			<li><a href="/profile/edit_weblinks/{{profile_id}}">Weblinks</a></li>
			<li><a href="/profile/edit_education/{{profile_id}}">Education</a></li>
			<li><a href="/profile/edit_employment/{{profile_id}}">Employment</a></li>
		</ul>
	</div>
	
	<div id="basic_details_form">
		<form name="basic_details_form" method="post" action="/profile/edit_basic/{{profile_id}}" enctype="multipart/form-data">{% csrf_token %}
			{{ form.non_field_errors }}
			<div id="pic_div">
			    {{ form.picture.errors }}
				{{ form.picture }}
				<br>
				<!--<div id="edit_pic">
					<p>Edit picture</p>
					<input type="file" name="picture" />
				</div> -->
			</div>
			<div id="basic_section">
				<span>Name:</span>{{ form.name }}<br>{{ form.name.errors }}<br>
				<span>Course:</span>
				<div class="selectBox">
					{{ form.course }}
				</div><br>
				<span>Branch:</span>
				<div class="selectBox">
					{{ form.branch }}
				</div><br>
				<span>Year of Graduation:</span>{{ form.year_of_graduation }}<br><br>
				<span>City:</span>{{ form.city }}<br><br>
				<span>About:</span>{{ form.about }}<br><br>
				<span id="tagslabel">Tags:</span><div id="currentTags"></div>
				<div id="edit_tags">
					<input type="text" name="tags" placeholder="Add Tags" class="tagManager"/>
					<input type="button" id="addtag" value="Add" />
				</div>
			</div>

			<input type="submit" name="submit" value="Save Changes"/>
			<a href="/profile/view/{{profile_id}}">Cancel</a>

		</form>
	</div>
	
<br class = "cB">
{% endblock %}