{% extends "base.html" %}

{% block scripts %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/bootstrap.min.css"></link>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/bootstrap-tagmanager.css"></link>
<script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
<script src="{{STATIC_URL}}js/bootstrap-tagmanager.js"></script>
<script>
	function filterBranches() {
		var courses = document.getElementById('selectCourse')
	}

	$(function() {

	    function updateElementIndex(el, prefix, ndx) {
	        var id_regex = new RegExp('(' + prefix + '-\\d+-)');
	        var replacement = prefix + '-' + ndx + '-';
	        if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex,
	        replacement));
	        if (el.id) el.id = el.id.replace(id_regex, replacement);
	        if (el.name) el.name = el.name.replace(id_regex, replacement);
	    }

	   	function markForDelete(btn, prefix) {
	   		var formCount = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
	   		if(formCount > 1)
	   		{
				$(btn).parents('.studentsection').children().filter(function() {
					   		return this.id.match("^.*DELETE.*$");
					   	}).prop('checked', true);
	   		}
	   	}

	    function deleteForm(btn, prefix) {
	        var formCount = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
	        if (formCount > 1) {
	            // Delete the item/form
	            $(btn).parents('.studentsection').remove();
	            var forms = $('.studentsection'); // Get all the forms  
	            // Update the total number of forms (1 less than before)
	            $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
	            var i = 0;
	            // Go through the forms and set their indices, names and IDs
	            for (formCount = forms.length; i < formCount; i++) {
	                $(forms.get(i)).children().children().each(function () {
	                	updateElementIndex(this, prefix, i);
	                  //   if ($(this).attr('type') == 'text')
	                  //   {
	                  //    	updateElementIndex(this, prefix, i);
	                 	// }
	                });
	            }
	        } // End if
	        return false;
	    }

	    function addForm(btn, prefix) {
	        var formCount = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
	        // You can only submit a maximum of 10 todo items 
	        if (formCount < 10) {
	            // Clone a form (without event handlers) from the first form
	            var row = $(".studentsection:first").clone(false).get(0);
	            // Insert it after the last form
	            $(row).removeAttr('id').hide().insertAfter(".studentsection:last").slideDown(300);

	            // Remove the bits we don't want in the new row/form
	            // e.g. error messages
	            $(".errorlist", row).remove();
	            $(row).children().removeClass("error");

	            // Relabel or rename all the relevant bits
	            $(row).children().children().each(function () {
	                updateElementIndex(this, prefix, formCount);
	                $(this).val("");
	            });

	            // Add an event handler for the delete item/form link 
	            $(row).find(".delete").click(function () {
	                return deleteForm(this, prefix);
	            });
	            // Update the total form count
	            $("#id_" + prefix + "-TOTAL_FORMS").val(formCount + 1);
	        } // End if
	        else {
	            alert("Sorry, you can only enter a maximum of ten items.");
	        }
	        return false;
	    }


	    // Register the click event handlers
	    $(".add").click(function () {
	        return addForm(this, "form");
	    });

	    $(".delete").click(function () {
	    	// markForDelete(this, "form");
	        return deleteForm(this, "form");
	    });

	});
</script>
{% endblock %}

{% block content %}
<div id = "main_content">

	<div id="edit_profile_form">
		<form action="/profile/edit/{{profile_id}}" method="post">{% csrf_token %}
			<h2>Profile Information</h2>
			{{ userprofileform.as_table }}
			<h2>Student Sections</h2>
			{{ studentformset.management_form }}
			{% for stform in studentformset %}
				<div class="studentsection">
					<h5>New student section</h5>
					{{ stform.as_p }}
					<p><a class="delete" href="#">Delete</a></p>
				</div>
			{% endfor %}
			<p><a class="add" href="#">Add another item</a></p>
			<input type="submit" value="Submit" />
			<a href="/profile/view/{{profile_id}}">Cancel</a>
		</form>
	</div>
	
<!-- 	<div id="basic_details_form">
		<form name="basic_details_form" method="post" action="/profile/edit_basic/{{profile_id}}" enctype="multipart/form-data">{% csrf_token %}
			{{ form.non_field_errors }}
			<div id="pic_div">
			    {{ form.picture.errors }}
				{{ form.picture }}
				<br>
			</div>
			<div id="basic_section">
				<span>Name:</span>{{ form.name }}<br>{{ form.name.errors }}<br>
				<span>Course:</span>
				<div class="selectBox">
					{{ form.course }}
				</div><br>
				<span>Branch:</span>
				<div class="selectBox">
					{{ form.branch }}
				</div><br>
				<span>Year of Graduation:</span>{{ form.year_of_graduation }}<br><br>
				<span>City:</span>{{ form.city }}<br><br>
				<span>About:</span>{{ form.about }}<br><br>
				<span id="tagslabel">Tags:</span><div id="currentTags"></div>
				<div id="edit_tags">
					<input type="text" name="tags" placeholder="Add Tags" class="tagManager"/>
					<input type="button" id="addtag" value="Add" />
				</div>
			</div>

			<input type="submit" name="submit" value="Save Changes"/>
			<a href="/profile/view/{{profile_id}}">Cancel</a>


		</form>
	</div> -->
	
<br class = "cB">
{% endblock %}