{% extends "base.html" %}
{% block content %}
<div id = "main_content">

	<div id="tabs_nav">
		<ul>
			<li><a href="/profile/edit_basic/{{user_profile.id}}">Personal Details</a></li>
			<li><a href="/profile/edit_weblinks/{{user_profile.id}}">Weblinks</a></li>
			<li><a href="/profile/edit_education/{{user_profile.id}}">Education</a></li>
			<li class="current"><a href="#">Employment</a></li>
		</ul>
	</div>
	
	<div id="edit_employment_form">
		<form name="edit_employment_form" method="post" action="/profile/edit_employment/{{profile_id}}">{% csrf_token %}
			{{ formset.management_form }}
			{% for form in formset %}
			<div id="edit_employment">
				<div class="edit_employment">
					<p>Employment Details: {{ form.id }}</p>
					<span>Employer:</span>{{ form.employer }}<br><br>
					<span>Desgination:</span>{{ form.designation }}<br><br>
					<span>Domain:</span>{{ form.domain }}<br><br>
					<span>From:</span>{{ form.date_of_joining }}<br><br>
					<span>To:</span>{{ form.date_of_leaving }}<br><br>
				</div>
			</div>
			{% endfor %}
			
			<a href="#">Add employment</a>
			<input type="submit" name="submit" value="Save Changes"/>
			<a href="/profile/view/{{profile_id}}">Cancel</a>
		</form>
	</div>
	
<br class = "cB">
{% endblock %}
