<html>
<head>
<meta name="description" content="Enables effective communication and networking among stakeholders of educational institutions">
<meta name="keywords" content="Alumni, Students, Faculty, College, Institution, Networking, Communication" />
<LINK rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/style.css"></LINK>
<link rel="stylesheet" href="{{STATIC_URL}}css/flexslider.css" type="text/css" media="screen" />
<title>Groupify - NIT Warangal</title>
<script src="{{STATIC_URL}}js/jquery-latest.min.js"></script> 

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '{{GOOGLE_SITE_CODE}}' ]);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

$(function(){                       
  $(".data-building-icon-description").hide();
  $(".excel-icon").show(); 
  $(".icon-div").hover(function(){
    $(".data-building-icon-description").hide();
    $("."+this.id).show();
  });

  var i = 2
  setInterval(function() {
    $('#home-section').css("background-image","url('static/img/bg_0"+i+".jpg')");
    if (++i == 4) i = 1;
  }, 6000);

});
</script>
</head>
<body>
<div id="header">
	<div class="section-content"> 
		<h1 id="logo">Groupify</h1>
  	<a href="/admin" id="sign-in">sign in</a>
  	<p id="sign-in-note">(only admins, for now)</p>
	</div>
</div>
<div id="home-section">
	<div class="section-content" > 
    	<div class="home-section-content">
        	<h2 class="home-section-title">
          		Connecting the people of NIT Warangal
        	</h2>
        	<p class="home-section-description" id="intro-header-tagline">
          	A platform that helps you find, connect and talk to relevant people of your college. It also helps build the database of all these people. A connected community will benefit each of its members in various ways and in turn will help the college.
        	</p>
      </div>
      <img id="stakeholder-infographic" src="{{STATIC_URL}}/img/infographics.png"/>     
	</div>
  <div id="home-intro-links">
    <div class="section-content">
      <div class="stake-holder left"> 
        <img class="stake-holder-image" src="{{STATIC_URL}}img/hat.png" width="100px" height="100px" />
        <p class="stake-holder-number">30,000+</p> 
        <p class="stake-holder-title">Alumni</p>
        <p class="stake-holder-description">Embody the vast history of RECW/NITW. From business owners to scientists to politicians, they form a diverse group with a common desire - giving back to their alma mater.</p>
      </div>
      <div class="stake-holder left"> 
        <img class="stake-holder-image" src="{{STATIC_URL}}img/book_new.png" width="100px" height="100px" />
        <p class="stake-holder-number">5,000+</p> 
        <p class="stake-holder-title">Students</p>
        <p class="stake-holder-description">Some of the smartest young people from across India. They are the face of the college and can gain immensely by being able to connect to other stakeholders.</p>
      </div>
      <div class="stake-holder left"> 
        <img class="stake-holder-image" src="{{STATIC_URL}}img/spectacles.png" width="100px" height="100px" />
        <p class="stake-holder-number">400+</p> 
        <p class="stake-holder-title">Faculty</p>
        <p class="stake-holder-description">The best in their respective domains. Not only do they impart their knowledge and shape the future of their students everyday, but also involve in key R&D.</p>
      </div>
      <div class="stake-holder left"> 
        <img class="stake-holder-image" src="{{STATIC_URL}}img/key.png" width="100px" height="100px" />
        <p class="stake-holder-number">20+</p> 
        <p class="stake-holder-title">Adminstration</p>
        <p class="stake-holder-description">Comprising the director, deans, T&P coordinators, HODs and more, these are the people who run the college.</p>
      </div>
      <div class="cB"></div> <!-- For stake-holder that are floating to inherit the parent background-->
    </div>
  </div> 
</div>
<div id="usecases">
  <div class="section-content">
    <h2 class="section-title">Benefits</h2>
    <h2 class="section-subtitle">A connected NITW community opens up endless possibilities. A few of the top benefits are listed below.</h2>

      <section class="slider">
        <div class="flexslider">
          <ul class="slides">
            <li>
              <img src="{{STATIC_URL}}img/slider-1.jpg" />
            </li>
            <li>
              <img src="{{STATIC_URL}}img/slider-2.jpg" />
            </li>
            <li>
              <img src="{{STATIC_URL}}img/slider-3.jpg" />
            </li>
            <li>
              <img src="{{STATIC_URL}}img/slider-4.jpg" />
            </li>
          </ul>
        </div>
      </section>

  <script defer src="{{STATIC_URL}}js/jquery.flexslider.js"></script>
  
  <script type="text/javascript">
    $(function(){
      SyntaxHighlighter.all();
    });
    $(window).load(function(){
      $('.flexslider').flexslider({
        animation: "slide",
        start: function(slider){
          $('body').removeClass('loading');
        }
      });
    });
  </script>
    <p class="continuation-text">We need passionate people empowered with smart technology to <span>build the database of members</span> and <span>enable effective communication</span> among them.</p>
  </div>  
</div>
<div id="data-building">
  <div class="section-content">
    <h2 class="section-title">Building & maintaining the database</h2>
    <h2 class="section-subtitle">We need to build a robust, accurate and complete database of all the people involved and keep it up-to-date. We can do it using smart technology.</h2>
    <div id="communication-features-list">
      <div class="communication-feature left">
        <div class="communication-feature-title">
          <img src="{{STATIC_URL}}img/excel_new.png">
          <h2 class="section-subtitle">Excel Upload</h2>
        </div>
        <p>Excel sheets with dispersed profile data are available with college and alumni chapters. Data from multiple sources will be collated by the system, and redundant data will be eliminated to create complete profiles.<br><br>
        System will detect syntactical errors in these excel sheets and allow for corrections while uploading them.</p>
      </div>
      <div class="communication-feature left">
        <div class="communication-feature-title">
          <img src="{{STATIC_URL}}img/collaborative.png" />
          <h2 class="section-subtitle">Collaborative Editing</h2>
        </div>
        <p>Allows people to edit other people's profile information, based on privileges.
        Not all alumni will spend time editing their profile information but this information is useful for other people in the network. <br><br>
        For example, an alumnus can add profile information for his batchmates. These edits will then be manually approved by chosen admins from college. This allows complete database to be built quickly.</p>
      </div>
      <div class="communication-feature left">
        <div class="communication-feature-title">
          <img src="{{STATIC_URL}}img/admin-data1.png" />
          <h2 class="section-subtitle">Data Admins</h2>
        </div>
        <p>
        15 - 20 admins ( students + faculty + alumni ) will be chosen who will spearhead the effort to build and maintain the database.
        These admins will
        <ul>
          <li>Add profile information for people of their college.</li>
          <li>Approve/disapprove edits made to profiles.</li>
        <ul> 
        </p>
      </div>
      <div class="communication-feature left">
        <div class="communication-feature-title">
          <img src="{{STATIC_URL}}img/social-sites.png">
          <h2 class="section-subtitle">Social Network Data</h2>
        </div>
        <p>
        Users can choose to link their social media profiles to their profile on Groupify.The following are the benefits of doing so
        <ul>
          <li>Information like education details, employment details etc. will be retrieved automatically and added to the profile in Groupify.</li>
          <li>Changes to profile information will be automatically updated. </li>
        </ul>
        </p>
      </div>
    </div>
      <h2 class="section-subtitle db-footer-note cB">Building a complete alumni database is complicated owing to the large numbers and unavailability of structured data, but with the help of the above technology we can make it happen. Unlike Alumni Data, accurate data of students, faculty and administration is available with college and will be regularly updated by the chosen data admins.</h2>
  </div>
  <img id= "facebook-band" src="{{STATIC_URL}}img/facebook_band.jpg">
</div>
<div id="communication">
  <div class="section-content">
    <h2 class="section-title">Enabling Effective Communication</h2>
    <h2 class="section-subtitle communication-section-subtitle">We strive to increase effectiveness by reducing unwanted communication and making it simple to use. The following features of the product help us achieve that.</h2><br>
    <div id="communication-features-list">
      <div class="communication-feature left">
        <div class="communication-feature-title">
          <img src="{{STATIC_URL}}img/search.png">
          <h2 class="section-subtitle">Search and Filter</h2>
        </div>
        <p>
           Search people based on name, year of graduation, branch, roll number, company, designation, higher education and many more criteria. For example, you can search for all alumni who have graduated from NIT Warangal in 1999 graduated in 1999 and currently wokring in Australia in one search.
           <br><br>
           Our intelligent widgets help you further filter down results of your search and get to the right people as quickly as possible. Our search bar also suggests what you might be looking for as soon you start typing in.
        </p>
      </div>
      <div class="communication-feature left">
        <div class="communication-feature-title">
          <img src="{{STATIC_URL}}img/smart-data.png">
          <h2 class="section-subtitle">Smart Data</h2>
        </div>
        <p>
           Our smart data systems decrease redundancy and increase accuracy of data added by users. For example, It you add TCS as your company and another alumni adds Tata Consultancy Services as his company, we know you both mean the same 
           <br><br>
           While adding information to your profile, we suggest relevant data to make it easier for you. The system gets smarter as more and more information gets added.<br><br><br>
        </p>
      </div>
      <div class="cB"></div>
      <div class="communication-feature left">
        <div class="communication-feature-title">
          <img src="{{STATIC_URL}}img/privacy.png" />
          <h2 class="section-subtitle">Privacy</h2>
        </div>
        <p>
           We understand your profile information is valuable and keep most of it private by default. You can choose who views what part of your profile conveniently. For example, you can choose to make your email ID visible to all alumni but mobile number visible only to your classmates.
           <br><br>
           All the data in our system is secured using industry standard security protocols just so you can stay assured that nobody without the right authority gets access to you. 
        </p>
      </div>
      <div class="communication-feature left">
        <div class="communication-feature-title">
          <img src="{{STATIC_URL}}img/spam.png">
          <h2 class="section-subtitle">Spam Control</h2>
        </div>
        <p>
           Every user on the system will have communication privileges based on his role with the college. For example, an alumni chapter president can email all alumni in his chapter but the same cannot be done by other alumni. Similarly, an alumni can email a group of his batchmates but cannot email a group of alumni from another batch without additional privileges.
           <br><br>
           These rules can easily be configured to suit the needs. We also allow you to mark emails as spam and have rules to eliminate or decrease emails from the same people.
        </p>
      </div>
    </div>
  </div>
  <div class="cB"></div> <!-- For stake-holder that are floating to inherit the parent background-->
</div>
<div id="about">
  <div class="section-content">
    <h2 class="section-title">The People</h2>
    <h2 class="section-subtitle communication-section-subtitle">A team of two NIT Warangal alumni committed towards building this network under the guidance of Alumni and Faculty.</h2><br>
    <div id="contact" class="left">
      <p> Advice/ Guidance/ Volunteer</p>
      <h2 class="section-subtitle db-footer-note">email: <a href="mailto:team@groupify.in">team@groupify.in</a></h2>
      <p class="small-text">We would love to hear from you</p>
    </div>
    <div id="team_description" class="left">
      <div class="member-section">
        <div class="member-pic left">
          <img src="{{STATIC_URL}}img/srihari_bw.png">
        </div>
        <div class="member-details left">
          <p class="member-name">Srihari Maneru, <span>CSE 04-08</span></p>
<!--           <p class="member-description">I was the president of NITW Student Union in my Final year. Co-founded Lakshya Foundation, working to develop innovation research, and entrepreneurship at NIT Warangal </p> -->
          <p class="member-description"> Involving in college activities since my 3rd year as Gen Secretary of Student Union, then as President of Student Union in final year and since graduation, as Co-founder & Trustee of <a href="http://www.thelakshyafoundation.org" target="_blank"> Lakshya Foundation </a></p>        
        </div>        
      </div>
      <div class="cB"></div>
      <div class="member-section">
        <div class="member-pic left">
        <img src="{{STATIC_URL}}img/kalyan_bw.png">
        </div>
        <div class="member-details left">
          <p class="member-name">Kalyan Varma, <span>ECE 04-08</span></p>
          <p class="member-description"> I was the student coordinator for Technozion '08 and the secretary of the ECE Association. I'm sure some of you have seen emails from me about Technozion sponsorship :)</p>
        </div> 
      </div>      
    </div>

  </div>
  <div class="cB"></div>
</div>
<div id="footer">
	<p id="footer-note">&#9400 Groupify.in 2012. All rights reserved </p>
</div>
</body>
</html>
