{% extends 'base.html' %}

{% block meta %}
<meta name="description" content="Enables effective communication and networking among stakeholders of educational institutions">
<meta name="keywords" content="Alumni, Students, Faculty, College, Institution, Networking, Communication" />
<title>Log in to Groupify</title>
{% endblock meta %}

{% block header %}
<div id="header_big" class="sign_up">
	<p id="welcome_text">Welcome to</p> 
	<div class="section-content"> 
		<a id="home-link" href="/"><h1 id="logo-big">Groupify</h1></a>
	</div>
</div>
{% endblock header %}

{% block content %}
<div id="sign_up_content" class="sign_up">
<p><a href="/login/linkedin" class="big_button">Log in using Linkedin</a></p>
<p> or </p>
<p><a href="/login/facebook" class="big_button">Log in using Facebook</a></p>
<p >If you haven't created an account, please <a href="/sign-up">sign up</a></p>
</div>
{% endblock content %}


{% block footer %}
{% endblock footer %}