{% extends "base.html" %}

{% block title %}
	<title>Registration Step 2- Askra - NIT Warangal</title>
{% endblock title %}

{% block scripts %}
	<script src="{{STATIC_URL}}js/jquery-latest.min.js"></script>

	<script>

		function getElementsByClass(searchClass,node,tag) {
			var classElements = new Array();
			if ( node == null )
				node = document;
			if ( tag == null )
				tag = '*';
			var els = node.getElementsByTagName(tag);
			var elsLen = els.length;
			var pattern = new RegExp("(^|\\s)"+searchClass+"(\\s|$)");
			for (i = 0, j = 0; i < elsLen; i++) {
				if ( pattern.test(els[i].className) ) {
					classElements[j] = els[i];
					j++;
				}
			}
			return classElements;
		}

		function filldetails(name, yog, course, branch, element){
			document.profile_details.name.value = name;
			document.profile_details.yog.value = yog;
			document.profile_details.course.value = course;
			document.profile_details.branch.value = branch;

			var profileElements = getElementsByClass('profile');
			for(var i=0; i<profileElements.length; i++)
			{
				profileElements[i].style.backgroundColor = '#f0f0f0';
			}

			element.style.backgroundColor = '#226666';
		}

		//For Jquery functions
		$(function(){
			$(".profile").click(function(){
				
			});
		});

	</script>
{% endblock scripts %}

{% block content %}
		<div id="mainLayout">

			<ul id="stepSelect">
				<li>Step 1</li>
				<li class="currentStep">Step 2</li>
				<li>Step 3</li>
			</ul>

			<div id="texttip">
				<h4>We found some profiles that could be yours. Please select the one that matches.</h4>
			</div>

			<div class="suggestedProfiles">
				{% for student_section in student_sections %}
				<div class="profile" onclick="filldetails('{{ student_section.userprofile.get_full_name }}', '{{ student_section.year_of_graduation }}', '{{ student_section.branch.course }}', '{{ student_section.branch.branch }}', this)">
					<ul>
						<li>{{ student_section.userprofile.get_full_name }}</li>
						<li>{{ student_section.year_of_graduation }}</li>
						<li>{{ student_section.branch.course }}</li>
						<li>{{ student_section.branch.branch }}</li>
					</ul>
				</div>
				{% endfor %}
			</div>

			<div class="fillDetails">
				<form name="profile_details" method="post" action="/profile/reg-step-3/">{% csrf_token %}
					<span>Name:</span>
					<input type="text" name="name" /><br>
					<span>Roll No:</span>
					<input type="text" name="rollno" /><br>
					<span>Course:</span>
					<div class="selectBox">
						<select name="course">
							{% for branch in branches %}
							<option>{{ branch.course}}</option>
							{% endfor %}
						</select>
					</div><br>
					<span>Branch:</span>
					<div class="selectBox">
						<select name="branch">
							{% for branch in branches %}
							<option>{{ branch.branch }}</option>
							{% endfor %}
						</select>
					</div><br>
					<span>Year of Graduation:</span>
					<input type="text" name="yog" /><br>
					<span>Picture:</span>
					<input type="file" name="picture" /><br>
					<span>City:</span>
					<input type="text" name="city" /><br>
					<span>Mobile Numer:</span>
					<input type="text" name="mobile" /><br>
					<span>Who can see your mobile number:</span>
					<input type="radio" name="privacy" value="adminonly">Only admin</input><br>
					<input type="radio" name="privacy" value="batchmates">Only admin and my batchmates</input><br>
					<input type="radio" name="privacy" value="all">Everyone</input><br>
					<input type="submit" name="submitform" value="Next" />

				</form>
			</div>

		</div>

{% endblock content %}
