{% extends "base.html" %}

{% block title %}
	<title>Registration Step 3 - Askra - NIT Warangal</title>
{% endblock title %}

{% block scripts %}
	<script src="{{STATIC_URL}}js/jquery-latest.min.js"></script>

	<script>

		$(function(){
			$(".profile").click(function(){
				
			});
		});

	</script>
{% endblock scripts %}

{% block content %}

		<div id="mainLayout">

			<ul id="stepSelect">
				<li>Step 1</li>
				<li>Step 2</li>
				<li class="currentStep">Step 3</li>
			</ul>
			<div id="mainContainer">
				<div id="connect_via_linkedin">
					<a href="#"><img src="{{STATIC_URL}}img/connect_via_linkedin.gif" alt="connect via linkedin" /></a>	<br>
					<ul>
						<li>We will use it to update your profile data automatically</li>
						<li>We will never post without your permission. A promise!</li>
						<li>Fastest and easiest way to fill your profile data.</li>
					</ul>
				</div>

				<div id="or_text">
					--------or---------
				</div>
				
				<div id="fillEmpDetails">
					<form name="emp_details">
						<span>Current Employer</span>
						<input type="text" name="employer" /><br>
						<span>Designation</span>
						<input type="text" name="designation" /><br>
						<input type="submit" name="submitform" value="Finish" />
					</form>
				</div>
			</div>
			<a href="#" id="skip_step">skip this step and finish registration</a>

		</div>
{% endblock content %}