
<div id="reports">
  	<h2 class="section-title">Overall Alumni Data Collection Progress</h4>
	<div id="progressbar">
	  <div class="right" style="width: {{percentalumdataremaining}}%">{{percentalumdataremaining}}% remaining</div>
	</div>
	<div id="column_chart" class="left"></div>
	<div id="data_message">
		<h2 class="section-subtitle">This data is a sample set from one excel sheet. We aim to collect basic data for 70% of the alumni by March, 2013.</h2>
		<a href="/search">
			<div>Browse profiles now!</div>
		</a>
	</div>
</div>