{% extends "base.html" %}

{% block scripts %}

<script>

	$(function(){ 
		$(".related_profile").click(function(){
	       window.location=$(this).find("a").attr("href"); 
	       return false;
		});
	});
</script>
{% endblock %}

{% block content %}
<div id="view_profile_page">
<div id = "main_content">
	<div id="navigation_div">
		<div id="breadcrumb">
			<a href="/">All</a>
			{% if student_section.year_of_graduation %}
				> <a href="/?year_of_passing_facet={{student_section.year_of_graduation}}">{{ student_section.year_of_graduation }}</a>
			{% endif %}
			{% if student_section.branch.branch %}
				> <a href="/?branch_facet={{student_section.branch.branch}}">{{ student_section.branch.branch }}</a>
			{% endif %}
			<span>> {{ user_profile.get_full_name }}</span>
		</div>
		<div id="search_div">
			<a href="/">back to search results</a>
		</div>
	</div>
	<div id="pic_div">
		{% if user_profile.photo and user_profile.photo.url %}
		<img src="{{user_profile.photo.url}}" width="250px" height="250px">
		{% else %}
		<img src="{{STATIC_URL}}img/no-image.jpg" width="250px" height="250px" alt="No profile picture">
		{% endif %}
	</div>
	<div id="basic_details_div">
		<h2 class="section-title">{{ user_profile.get_full_name }}</h2>
		<p>{{ student_section.get_full_qualification }}</p>
		<p>{{ user_profile.city }}</p>
		<div id = "social_media_links">
			{% if user_profile.facebook_url %}
			    <a href="{{ user_profile.facebook_url }}" target="blank"><img src="{{STATIC_URL}}img/facebook_icon.png" width="35px" height="35px"></a>
			{% endif %}

			{% if user_profile.linked_url %}
			<a href="{{ user_profile.linked_url }}" target="blank"><img src="{{STATIC_URL}}img/linkedin_icon.png" width="35px" height="35px"></a>
			{% endif %}

			{% if user_profile.twitter_url %}
			<a href="{{ user_profile.twitter_url }}" target="blank"><img src="{{STATIC_URL}}img/twitter_icon.png" width="35px" height="35px"></a>
			{% endif %}
		</div>
	</div>

	<div id="contact">
		adsf
		{{ request }}
		{{ request.user }}
		{{ request.user.is_authenticated }}
		{% if request.user.is_authenticated %}
		<a href="/profile/edit/{{user_profile.id}}">
		<div id="edit_profile">
			<p>Edit Profile</p>
		</div>
		</a>
		{% else %}
		<div id="edit_profile_disabled">
			<p>Edit Profile</p>
		</div>
		<a href="/login">Login</a> / <a href="/sign-up">Sign up</a> to edit this profile.
		{% endif %}
		<div id="contact_div">
			<p>Contacting {{ user_profile.get_full_name }} through Email/ Phone will be enabled in our next-release</p>
		</div>
	</div>
	<br class = "cB">
</div>
<div id = "other_content">
	<div id="text_details">
		{% if user_profile.about %}
		<h3>About</h3>
		<p>{{ user_profile.about|safe }}</p>
		{% endif %}

		<h3 class="section-subtitle">Education Details</h3>	
			{% for education_detail in education_details %}
			<div class="detail_container">
				<p><b>{{ education_detail.college }}</b></p>
				{% if student_section.branch.branch %}
				<p>{{ student_section.branch.course }}, {{ student_section.branch.branch }}</p>
				{% endif %}
				{% if student_section.year_of_graduation %}
				<p>Graduated in {{student_section.year_of_graduation}}</p>
				{% endif %}
				</br>
				</br>
			</div>
			<br>
			{% endfor %}
			<div class="detail_container">
				<p><b>National Insitute Of Technology, Warangal</b></p>
				{% if student_section.branch.branch %}
				<p>{{ student_section.branch.course }}, {{ student_section.branch.branch }}</p>
				{% endif %}
				{% if student_section.year_of_graduation %}
				<p>Graduated in {{student_section.year_of_graduation}}</p>
				{% endif %}
			</div>
			<br>

		<h3 class="section-subtitle">Employer Details</h3>
			{% if employment_details %}
			{% for employment_detail in employment_details %}
			<div class="detail_container">
				<p><b>{{ employment_detail.designation.name }}</b></p>
				{% if employment_detail.employer.name %}
				<p>{{ employment_detail.employer.name }}</p>
				{% endif %}
				{% if employment_detail.get_employment_period %}
				<p>{{ employment_detail.get_employment_period }}</p>
				{% endif %}
			</br>
			</br>
			</div>
			<br>
			{% endfor %}
			{% else %}
			<p>No details added yet</p>
			{% endif%}


	</div>
	<h3 class="section-subtitle">Tags</h3>
	<div id="tags">
		<ul>
		{% if tags %}
		{% for tag in tags %}
			<li class="usertag"><span>{{tag.name}}</span></li>
		{% endfor %}
		{% else %}
		<p>No tags added yet</p>
		{% endif %}
		</ul>
	</div>
</div>
{% if other_profiles %}
<div id = "related_profiles" class="cB">
	<h2 class="section-subtitle">People who viewed this also viewed these profiles</h3>
	{% for student_section in other_profiles %}
	<div class = "related_profile_container">
		<a href="/profile/view/{{ student_section.userprofile.id}}">
			<div class = "related_profile">
				{% if student_section.user_profile.photo and student_section.user_profile.photo.url %}
				<img src="{{student_section.user_profile.photo.url}}" width="150px" height="150px">
				{% else %}
				<img src="{{STATIC_URL}}img/no-image.jpg" width="150px" height="150px" alt="No profile picture">
				{% endif %}
				<a href="/profile/view/{{ student_section.userprofile.id }}">{{ student_section.userprofile.get_full_name }}</a>
				<p>{{ student_section.get_full_qualification }}</p>
			</div>
		</a>
	</div>
	{% endfor %}
	<br class = "cB">
</div>
</div>
{% endif %}
{% endblock %}