{% extends "base.html" %}
{% block content %}
<div id = "main_content">
	<div id="navigation_div">
		<div id="breadcrumb">
			<a href="#">All</a> >
			<a href="#">Alumni</a> >
			<a href="#">B.Tech</a> >
			<a href="#">1975</a> >
			<a href="#">Chemical</a> > <span>Venkat Chengavalli</span>
		</div>
		<div id="search_div">
			<a href="#">back to search results</a>
		</div>
	</div>
	<div id="pic_div">
		<img src="{{STATIC_URL}}img/pavan.jpg" width="250px" height="250px">
	</div>
	<div id="basic_details_div">
		<h2>Venkat Chengavalli</h2>
		<h4>B.Tech Chemical, 1975</h4>
		<h4>Hyderabad</h4>
		<div id = "social_media_links">
			<img src="{{STATIC_URL}}img/pavan.jpg" width="50px" height="50px">
			<img src="{{STATIC_URL}}img/pavan.jpg" width="50px" height="50px">
			<img src="{{STATIC_URL}}img/pavan.jpg" width="50px" height="50px">
			<img src="{{STATIC_URL}}img/pavan.jpg" width="50px" height="50px">
		</div>
	</div>
	<div id="contact_div">
		<h3>Contact Venkat Chengavalli</h3>
		<p>Email : </p>
		<div id="mail"><button>Send Mail</button> to Venkat Chegavalli</div>
		<p>Mobile Number :</p> 
		<p id="mobile">+91 - 9972359354</p>
	</div>
	<br class = "cB">
</div>
<div id = "other_content">
	<div id="text_details">
		<h3>About</h3>
		<p>asdfasdf sadf sadf sa df sadfsa df sadf sadf sa df sa fs af s df asdf sa fsaf sdf sad fsa12
			sad fsa df sadf sa f sad fs adf sa f afds<a href="">asdfafdasf</a> a fs saf sa fdsd afd s
			aasdfasdfas asdfasdfasdf asdfasdf</p>
		<p>asdfasdf sadf sadf sa df sadfsa df sadf sadf sa df sa fs af s df asdf sa fsaf sdf sad fsa12
			sad fsa df sadf sa f sad fs adf sa f afds<a href="">asdfafdasf</a> a fs saf sa fdsd afd s
			aasdfasdfas asdfasdfasdf asdfasdf</p>
		<h3>Education Details</h3>	
			<div class="detail_container">
				<table class="detail">
					<tr>
						<td><span class="label">College </span>:<span class="value">National institue of Technology, Warangal</span> </td>
						<td><span class="label">Duration </span>:<span class="value">1970 - 1975</span> <br></td>
					</tr>
					<tr>
						<td><span class="label">Course </span>:<span class="value">B.Tech</span></td>
						<td><span class="label">Branch </span>:<span class="value">Chemical Engineering</span></td>
					</tr>         
				</table>
			</div>
			<br>
			<div class="detail_container">
				<table class="detail">
					<tr>
						<td><span class="label">College </span>:<span class="value">Indin Institute of Management, Ahmedabad</span> </td>
						<td><span class="label">Duration </span>:<span class="value">1975 - 1977</span> <br></td>
					</tr>
					<tr>
						<td><span class="label">Course </span>:<span class="value">MBA</span></td>
						<td><span class="label">Branch </span>:<span class="value">Finance</span></td>
					</tr>         
				</table>
			</div>
		<h3>Employer Details</h3>
			<div class="detail_container">
				<table class="detail">
					<tr>
						<td><span class="label">Employer </span>:<span class="value">State Bank of Hyderabad</span> </td>
						<td><span class="label">Designation </span>:<span class="value">Director</span> <br></td>
					</tr>        
				</table>
			</div>
			<br>
			<div class="detail_container">
				<table class="detail">
					<tr>
						<td><span class="label">Employer </span>:<span class="value">The Laksya Foundation</span> </td>
						<td><span class="label">Designation </span>:<span class="value">Board of Advisor</span> <br></td>
					</tr>        
				</table>
			</div>
	</div>
	<div id="tags">
		<h3>Tags</h3>
		<img src="{{STATIC_URL}}img/pavan.jpg" width="150px" height="100px">
		<img src="{{STATIC_URL}}img/pavan.jpg" width="100px" height="100px">
		<img src="{{STATIC_URL}}img/pavan.jpg" width="250px" height="100px">
		<img src="{{STATIC_URL}}img/pavan.jpg" width="150px" height="50px">
		<img src="{{STATIC_URL}}img/pavan.jpg" width="75px" height="75px">
	</div>
</div>
<div id = "related_profiles" class="cB">
	<h3>People who viewed this also viewed these profiles</h3>
	<div class = "related_profile_container">
		<div class = "related_profile">
			<img src="{{STATIC_URL}}img/pavan.jpg" width="150px" height="150px"><br>
			<p>Vasanth Roy</p>
			<p>1980, Chemical</p>
		</div>
	</div>
</div>
<br class = "cB">
{% endblock %}