{% extends 'base.html' %}
{% load userprofile_tags %}


{% block scripts %}
<!-- styles needed by jScrollPane -->
<link type="text/css" href="{{STATIC_URL}}css/jquery.jscrollpane.css" rel="stylesheet" media="all" />

<!-- the mousewheel plugin - optional to provide mousewheel support -->
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.mousewheel.js"></script>

<!-- the jScrollPane script -->
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.jscrollpane.min.js"></script>

<script src="{{STATIC_URL}}js/jquery.masonry.min.js"></script>

<script type="text/javascript">
    $(function()
    {
        var offset=20
        $('.scroll-pane').jScrollPane();

        /*$(window).scroll(function(){
            console.log("start")
            console.log("scrolltop [" + $(window).scrollTop()+"]")
            //console.log("docscrollheight [" +document.body.scrollHeight+"]")
            console.log("divoffsettop [" +$('#search_results').offset().top+ "]")
            console.log("divheight [" +$('#search_results').height()+ "]")
            console.log("end")
        });
        
        $('#myButton').click(function()
        {
            $('div#loadmoreajaxloader').show();
            $.ajax({
            url: "/ajaxsearch?{{querystring}}&offset="+offset.toString(),
            success: function(html)
            {
                console.log(html);
                if(html)
                {
                    $("#search_results").append(html);
                    $('div#loadmoreajaxloader').hide();
                    offset+=20
                }
                else
                {
                    $('div#loadmoreajaxloader').html('<center>No more posts to show.</center>');
                }
            }
            });
        });*/

        $('#year_facet_search').keyup(function () {
            $(".year_facet_option").show();
            val = $(this).val().toLowerCase();
            $(".year_facet_option").each(function() {
                if ($(this)[0].children[0]){
                    if ($(this)[0].children[0].innerText.toLowerCase().indexOf(val) == -1){
                        $(this).hide();
                    }                    
                }else{
                    if ($(this)[0].innerText.toLowerCase().indexOf(val) == -1){
                        $(this).hide();
                    }                     
                }
            });
        }); //key up    

        $('#city_facet_search').keyup(function () {
            $(".city_facet_option").show();
            val = $(this).val().toLowerCase();
            $(".city_facet_option").each(function() {
                if ($(this)[0].children[0]){
                    if ($(this)[0].children[0].innerText.toLowerCase().indexOf(val) == -1){
                        $(this).hide();
                    }                    
                }else{
                    if ($(this)[0].innerText.toLowerCase().indexOf(val) == -1){
                        $(this).hide();
                    }                     
                }

            });
        }); //key up    

        $('#search_results').masonry({
        // options
            itemSelector : '.result_div',
        });
    });

</script>

{% endblock scripts %}

{% block content %}
<div id="search-content" class="section-content">
<h2 class="section-title">We have basic data of more than 22,000 alumni from various excel sheets. We aim to collect and organize all the data by Sept 2013.</h2>
<form id="search_form" action="/search" method="get">
    {{ form.non_field_errors }}
    <div id="name_div" class="fieldWrapper left">
        {{ form.name.errors }}
        <label for="id_name">Name</label>
        {{ form.name }}
    </div>
    <div class="fieldWrapper left">
        {{ form.branch.errors }}
        <label for="id_branch">Branch</label>
        {{ form.branch }}
    </div>
    <div id="year_div" class="fieldWrapper left">
        {{ form.year_of_passing.errors }}
        <label for="id_year_of_passing">Year of Graduation</label>
        {{ form.year_of_passing }}
    </div>
    <p class="search_submit"><input class="search_submit" class="left" type="submit" value="Search" /></p>
    <span class="cB"></span>

</form>

<div id="facet-list" class="left">
    <dl id="branch_facet" class="facet">
        {% if facets.fields.branch %}
            <dt>Branch</dt>
            {% for branch in facets.fields.branch %}
                {% if branch.1 %}
                    {% if branch.0 == branch_facet_selected %}
                        <dd><a class="selected_facet" href="{{ request.get_full_path|facet_url }}branch_facet={{ branch.0|urlencode }}">{{ branch.0 }}</a> ({{ branch.1 }})</dd>
                    {% else %}
                        <dd><a href="{{ request.get_full_path|facet_url }}branch_facet={{ branch.0|urlencode }}">{{ branch.0 }}</a> ({{ branch.1 }})</dd>                        
                    {% endif %}
                {% else %}
                    <dd>{{ branch.0 }}({{ branch.1 }})</dd>
                {% endif %}
            {% endfor %}
        {% endif %}
    </dl>
    <dl id="yog_facet" class="facet">
        {% if facets.fields.year_of_passing %}
            <dt>Year Of Graduation</dt>
            <input id="year_facet_search" type="text" placeholder="Search year" />
            <div class="scroll-pane">
            {% for year_of_passing in facets.fields.year_of_passing %}
                {% if year_of_passing.1 %}
                    {% if year_of_passing.0 == year_facet_selected %}
                        <dd class="year_facet_option"><a class="selected_facet" href="{{ request.get_full_path|facet_url }}year_of_passing_facet={{ year_of_passing.0|urlencode }}">{{ year_of_passing.0 }}</a> ({{ year_of_passing.1 }})</dd>
                    {% else %}
                        <dd class="year_facet_option"><a href="{{ request.get_full_path|facet_url }}year_of_passing_facet={{ year_of_passing.0|urlencode }}">{{ year_of_passing.0 }}</a> ({{ year_of_passing.1 }})</dd>                      
                    {% endif %}
                {% else %}
                    <dd class="year_facet_option">{{ year_of_passing.0 }}({{ year_of_passing.1 }})</dd>
                {% endif %}
            {% endfor %}
            </div>
        {% endif %}
    </dl>
    <dl id="city_facet" class="facet">
        {% if facets.fields.city %}
            <dt>City</dt>
            <input id="city_facet_search" type="text" placeholder="Search city" />
            <div class="scroll-pane">
            {% for city in facets.fields.city %}
                {% if city.1 %}
                    {% if city.0 == city_facet_selected %}
                        <dd class="city_facet_option"><a class="selected_facet" href="{{ request.get_full_path|facet_url }}city_facet={{ city.0|urlencode }}">{{ city.0 }}</a> ({{ city.1 }})</dd>
                    {% else %}
                        <dd class="city_facet_option"><a href="{{ request.get_full_path|facet_url }}city_facet={{ city.0|urlencode }}">{{ city.0 }}</a> ({{ city.1 }})</dd>                      
                    {% endif %}
                {% else %}
                    <dd class="city_facet_option">{{ city.0 }}({{ city.1 }})</dd>
                {% endif %}
            {% endfor %}
            </div>
        {% endif %}
    </dl>
</div>

<div id="search_results_panel" class="left">
    <div id="search_results_header">
        <div id="applied_facets" class="left">
            {% if branch_facet_selected or year_facet_selected or city_facet_selected %}
                <span id="selected_filters_text">Selected filters:</span>
            {% endif %}
            {% if branch_facet_selected  %}
                <a class="remove_facet" href="{{ request.get_full_path|facet_url }}branch_facet=">
                    <div class="remove_facet_div">
                        <span>{{ branch_facet_selected }}</span><span class="bold-X">x</span>
                    </div>
                </a>
            {% endif %}
            {% if year_facet_selected  %}
                <a class="remove_facet" href="{{ request.get_full_path|facet_url }}year_of_passing_facet=">
                    <div class="remove_facet_div">
                        <span>{{ year_facet_selected }}</span><span class="bold-X">x</span>
                    </div>
                </a>
            {% endif %}
            {% if city_facet_selected  %}
                <a class="remove_facet" href="{{ request.get_full_path|facet_url }}city_facet=">
                    <div class="remove_facet_div">
                        <span>{{ city_facet_selected }}</span><span class="bold-X">x</span>
                    </div>
                </a>
            {% endif %}
        </div>
        <div id="num_results" class="right">
            {% if resultcount > 0 %}
                <p>Showing {{resultcount}} {% if resultcount = 1 %} profile {% else %} profiles {% endif %}</p>
            {% endif %}
        </div>
        <p class="cB"></p>
    </div>
    <div id="search_results">
        {% for result in results %}
            {% if result.name.strip %}
                <div class="result_div">
                    <h2 class="name section-subtitle">{{ result.name }}</h2>
                    {% if result.branch %}
                        <p class="branch">{{ result.branch }}</p> 
                    {% endif %}  
                    {% if result.year_of_passing %}
                        <p class="year_of_passing">{{ result.year_of_passing }}</p>    
                    {% endif %} 
                    {% if result.city %}
                        <p class="city">{{ result.city }}</p>    
                    {% endif %} 
                </div>
            {% endif %}
        {% empty %}
            <p>Sorry, no results found.</p>
        {% endfor %}
    </div>
</div>
<!--<div id="loadmoreajaxloader" style="display:none;"><center><img src="{{STATIC_URL}}img/ajax-loader.gif" /></center></div>
<button id="myButton">Click me</button>-->
</div>
<p class="cB"></p>
{% endblock content %}
