{% extends 'base.html' %}
{% load userprofile_tags %}


{% block scripts %}
<!-- styles needed by jScrollPane -->
<link type="text/css" href="{{STATIC_URL}}css/jquery.jscrollpane.css" rel="stylesheet" media="all" />

<!-- the mousewheel plugin - optional to provide mousewheel support -->
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.mousewheel.js"></script>

<!-- the jScrollPane script -->
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.jscrollpane.min.js"></script>

<script src="{{STATIC_URL}}js/jquery.masonry.min.js"></script>
<script src="{{STATIC_URL}}js/waypoints.min.js"></script>

<script type="text/javascript">

    $(function()
    {
        var offset={{initialoffset}};
        var gotallresults = false;
        $('.scroll-pane').jScrollPane();

        $('#year_facet_search').keyup(function () {
            $(".year_facet_option").show();
            val = $(this).val().toLowerCase();
            $(".year_facet_option").each(function() {
                if ($(this)[0].children[0]){
                    if ($(this)[0].children[0].innerText.toLowerCase().indexOf(val) == -1){
                        $(this).hide();
                    }                    
                }else{
                    if ($(this)[0].innerText.toLowerCase().indexOf(val) == -1){
                        $(this).hide();
                    }                     
                }
            });
        }); //key up    

        $.each($('.yog_check_select'), function() {
            $(this).prop('checked', true);
        });

        $('.yog_check').change(function() {
            var a = "";
            $.each($('.yog_check'), function() {
                if ($(this).is(':checked'))
                {
                    if (a!="") 
                    {
                        a = a + "," + $(this).attr('value');
                    }
                    else
                    {
                        a = $(this).attr('value');
                    }
                    
                }
            });
            window.location.href = "{{ request.get_full_path|facet_url }}year_of_passing_facet=" + a;
        });


        $('#city_facet_search').keyup(function () {
            $(".city_facet_option").show();
            val = $(this).val().toLowerCase();
            $(".city_facet_option").each(function() {
                if ($(this)[0].children[0]){
                    if ($(this)[0].children[0].innerText.toLowerCase().indexOf(val) == -1){
                        $(this).hide();
                    }                    
                }else{
                    if ($(this)[0].innerText.toLowerCase().indexOf(val) == -1){
                        $(this).hide();
                    }                     
                }

            });
        }); //key up

        $('#search_results').masonry({
        // options
            itemSelector : '.result_div',
        });

        //Gets fired when the bottom of the search_results div hits the bottom of the viewport
        $('#search_results').waypoint(function(direction){
            if(gotallresults==false && direction == 'down')
            {
                $('.loading').show();
                var getdata = {'name':"{{name_selected}}", 'branch':"{{branch_selected}}", 'year':"{{year_selected}}", 'offset':offset, 
                                'branch_facet':"{{branch_facet_selected}}", 'year_facet':"{{year_facets_selected}}", 'city_facet':"{{city_facet_selected}}"};
                $.ajax({
                    url: "/searchajax",
                    data: getdata,
                    success: function(data)
                    {
                      var retdata = JSON.parse(data);
                      if(retdata['success'] == 'true')
                      {
                        if(retdata['data'].length == 0)
                        {
                            gotallresults = true;
                        }
                        else
                        {
                            html='';
                            for(var i=0; i<retdata['data'].length; i++)
                            {
                                var result = retdata['data'][i];
                                html+='<a href="/profile/view/' + result['profile_id'] + '">';
                                html+='<div class="result_div">'
                                html+='<h2 class="name section-subtitle">' + result['name'] + '</h2>';
                                if(result['branch'])
                                {
                                    html+='<p class="branch">' + result['branch'] + '</p>';
                                }
                                if(result['year_of_passing'])
                                {
                                    html+='<p class="year_of_passing">' + result['year_of_passing'] + '</p>';
                                }
                                if(result['city'])
                                {
                                    html+='<p class="city">' + result['city'] + '</p>';
                                }
                                html+='</div></a>';
                            }
                            $('#search_results').append(html).masonry('reload');
                            $.waypoints('refresh');

                        }
                        offset = retdata['latestoffset'];
                      }
                    },
                    complete: function()
                    {
                        $('.loading').hide();
                    }
                });
            }
        }, { offset:'bottom-in-view'});
        
        $('#pagetop').click(function() {
            $(document.body).animate({ scrollTop: 0 }, "fast");
        });


    });

</script>

{% endblock scripts %}

{% block content %}
<div id="search-content" class="section-content">
<h2 class="section-title">We have basic data of more than 22,000 alumni from various excel sheets. We aim to collect and organize all the data by Sept 2013.</h2>
<form id="search_form" action="/" method="get">
    {{ form.non_field_errors }}
    <div id="name_div" class="fieldWrapper left">
        {{ form.name.errors }}
        <label for="id_name">Name</label>
        {{ form.name }}
    </div>
    <div class="fieldWrapper left">
        {{ form.branch.errors }}
        <label for="id_branch">Branch</label>
        {{ form.branch }}
    </div>
    <div id="year_div" class="fieldWrapper left">
        {{ form.year_of_passing.errors }}
        <label for="id_year_of_passing">Year of Graduation</label>
        {{ form.year_of_passing }}
    </div>
    <p class="search_submit"><input class="search_submit" class="left" type="submit" value="Search" /></p>
    <span class="cB"></span>

</form>

<div id="facet-list" class="left">
    <dl id="branch_facet" class="facet">
        {% if facets.fields.branch %}
            <dt>Branch</dt>
            {% for branch in facets.fields.branch %}
                {% if branch.1 %}
                    {% if branch.0 == branch_facet_selected %}
                        <dd><a class="selected_facet" href="{{ request.get_full_path|facet_url }}branch_facet={{ branch.0|urlencode }}">{{ branch.0 }}</a> ({{ branch.1 }})</dd>
                    {% else %}
                        <dd><a href="{{ request.get_full_path|facet_url }}branch_facet={{ branch.0|urlencode }}">{{ branch.0 }}</a> ({{ branch.1 }})</dd>                        
                    {% endif %}
                {% else %}
                    <dd>{{ branch.0 }}({{ branch.1 }})</dd>
                {% endif %}
            {% endfor %}
        {% endif %}
    </dl>
    <dl id="yog_facet" class="facet">
        {% if facets.fields.year_of_passing %}
            <dt>Year Of Graduation</dt>
            <input id="year_facet_search" type="text" placeholder="Search year" />
            <div class="scroll-pane">
            {% for year_of_passing in facets.fields.year_of_passing %}
                {% if year_of_passing.0 != '0' %}
                    {% if year_of_passing.1 %}
                        <input type="checkbox" class="yog_check {% if year_of_passing.0 in year_facets_selected %} yog_check_select {% endif %}" value="{{ year_of_passing.0 }}" style="display:inline"><span>{{ year_of_passing.0 }}({{ year_of_passing.1 }})</span><br>
                    {% else %}
                        <dd class="year_facet_option">{{ year_of_passing.0 }}({{ year_of_passing.1 }})</dd>
                    {% endif %}
                {% endif %}
            {% endfor %}
            </div>
        {% endif %}
    </dl>

    <dl id="city_facet" class="facet">
        {% if facets.fields.city %}
            <dt>City</dt>
            <input id="city_facet_search" type="text" placeholder="Search city" />
            <div class="scroll-pane">
            {% for city in facets.fields.city %}
                {% if city.1 %}
                    {% if city.0 == city_facet_selected %}
                        <dd class="city_facet_option"><a class="selected_facet" href="{{ request.get_full_path|facet_url }}city_facet={{ city.0|urlencode }}">{{ city.0 }}</a> ({{ city.1 }})</dd>
                    {% else %}
                        <dd class="city_facet_option"><a href="{{ request.get_full_path|facet_url }}city_facet={{ city.0|urlencode }}">{{ city.0 }}</a> ({{ city.1 }})</dd>                      
                    {% endif %}
                {% else %}
                    <dd class="city_facet_option">{{ city.0 }}({{ city.1 }})</dd>
                {% endif %}
            {% endfor %}
            </div>
        {% endif %}
    </dl>
</div>

<div id="search_results_panel" class="left">
    <div id="search_results_header">
        <div id="applied_facets" class="left">
            {% if branch_facet_selected or year_facet_selected or city_facet_selected %}
                <span id="selected_filters_text">Selected filters:</span>
            {% endif %}
            {% if branch_facet_selected  %}
                <a class="remove_facet" href="{{ request.get_full_path|facet_url }}branch_facet=">
                    <div class="remove_facet_div">
                        <span>{{ branch_facet_selected }}</span><span class="bold-X">x</span>
                    </div>
                </a>
            {% endif %}
            {% if year_facet_selected  %}
                <a class="remove_facet" href="{{ request.get_full_path|facet_url }}year_of_passing_facet=">
                    <div class="remove_facet_div">
                        <span>{{ year_facet_selected }}</span><span class="bold-X">x</span>
                    </div>
                </a>
            {% endif %}
            {% if city_facet_selected  %}
                <a class="remove_facet" href="{{ request.get_full_path|facet_url }}city_facet=">
                    <div class="remove_facet_div">
                        <span>{{ city_facet_selected }}</span><span class="bold-X">x</span>
                    </div>
                </a>
            {% endif %}
        </div>
        <div id="num_results" class="right">
            {% if resultcount > 0 %}
                <p>Showing {{resultcount}} {% if resultcount = 1 %} profile {% else %} profiles {% endif %}</p>
            {% endif %}
        </div>
        <p class="cB"></p>
    </div>
    <div id="search_results">
        {% for result in results %}
            {% if result.name.strip %}
                <a href="/profile/view/{{result.profile_id}}">
                <div class="result_div">
                    <h2 class="name section-subtitle">{{ result.name }}</h2>
                    {% if result.branch %}
                        <p class="branch">{{ result.branch }}</p> 
                    {% endif %}  
                    {% if result.year_of_passing %}
                        <p class="year_of_passing">{{ result.year_of_passing }}</p>    
                    {% endif %} 
                    {% if result.city %}
                        <p class="city">{{ result.city }}</p>    
                    {% endif %} 
                </div>
                </a>
            {% endif %}
        {% empty %}
            <p>Sorry, no results found.</p>
        {% endfor %}
    </div>
    <div class="loading"><span>Loading more profiles...</span><img src="{{STATIC_URL}}img/loading.gif"/></div>
</div>
<!--<div id="loadmoreajaxloader" style="display:none;"><center><img src="{{STATIC_URL}}img/ajax-loader.gif" /></center></div>
<button id="myButton">Click me</button>-->
</div>
<p class="cB"></p>
<div id="pagetop">
    <img src="{{STATIC_URL}}img/page_top.png"/>
</div>
{% endblock content %}
