body {
	background: url(img: '../img/nitw_background.JPG');
}


h1, h2, h3, h4, p, a, span{
	font-family: arial;
}

.cB {
	clear: both;
}
.container {
	background-color: white;
	width: 960px;
	margin: auto;
}

input[type=text], input[type=password], input[type="url"] {
	height: 27px;
	width: 140px;
	margin-bottom: 15px;
	margin-right: 5px;
	padding-bottom: 0;
	padding-right: 0;
	border-radius: 5px;
	color: gray;
}

input[type=button], input[type=submit] {
	width: 100px;
	height: 40px;
	background-color: #124142;
	color: #ffffff;
}

#header {
	overflow: hidden;
	margin-bottom: 10px;
	background-color: #f0f0f0;
}

#header #logo	{
	float: left;
	width: 10%;
}

#main_text {
	width: 44%;
	float: left;
	text-align: center;
	margin-top: 20px;
}

#main_text h2 {
	text-transform: uppercase;
	text-align: center;
	font-size: 25px;
	margin: 0;
}

#login {
	width: 44%;
	float:left;
	margin-left: 5px;
	padding-left: 5px;
}

#login h4 {
	float: left;
}

#login ul {
	float: left;
	list-style: none;
	padding-bottom: 5px;
	padding-right: 20px;
}

#login li {
	display: inline;

}

#login form {
	margin-top: 80px;
	margin-bottom: 0;
}

#login input[type=text], #login input[type=password] {
	margin-top: 5px;
}

#login input[type=button], #login input[type=submit] {
	width: 80px;
	height: 27px;
	background-color: #124142;
	color: #ffffff;
}

.square_icon {
	widht: 30px;
	height: 30px;
}

#main
{
	overflow: hidden;
}

#slides {
	width: 63%;
	float: left;
	padding: 35px 5px 0px;
	border: 1px solid black;
	margin-bottom: 10px;
	text-align: center;
}

.slides_container {
    width:63%;
    margin: auto;
}

.slides_container div {
    width:63%;
	height:400px;
    display:block;
}

#signup {
	width: 35%;
	float: right;
	text-align: center;
	border: 1px solid black;
	padding-bottom: 10px;
}

#signup ul {
	list-style: none;
	padding-bottom: 25px;
	text-align: center;
}

#signup .double_text {
	width: 292px;
}

#signup li {
	padding-bottom: 10px;
}

#friends_on_askra {
	border: 1px solid black;
	float: left;
	width: 44%;
	height: 380px;
	padding-bottom: 10px;
	margin-right: 5px;
}	

#friends_on_askra blockquote {
	text-align: center;
	font-style: italic;
}


#askra_stats
{
	width: 19%;
	height: 390px;
	float: left;
	border: 1px solid black;
	margin-right: 1px;
}

/* Testimonials */

#testimonials {
	margin-left: 5px;
	float: left;
	border: 1px solid black;
	width: 35%;
}

.testimonials_container {
	height: 340px;
	padding: 5px;
}

.testimonial_text {
	text-align: left;
	width: 24%;
	float: left;
}

.testimonial_person {
	width: 28%;
	text-align: center;
	float: left;
	font-size: 14px;
}

.testimonial_person img {
	width: 120px;
	height: 120px;
}


#testimonials .next, #testimonials .prev {
	position: absolute;
	top: 850px;
	left: 1000px;
	width: 24px;
	height: 43px;
	display: block;
	z-index: 101;
}

#testimonials .next {
	left: 1085px;
}

/*For JQuery Slider */

.pagination {
	margin:26px auto 0;
	width:100px;
}

.pagination li {
	float:left;
	margin:0 1px;
	list-style:none;
}

.pagination li a {
	display:block;
	width:12px;
	height:0;
	padding-top:12px;
	background-image:url(../img/pagination.png);
	background-position:0 0;
	float:left;
	overflow:hidden;
}

.pagination li.current a {
	background-position:0 -12px;
}

/* START - for the view profile page */

#navigation_div {
	margin-bottom: 20px;
}

#breadcrumb {
	float: left;
}

#pic_div {
	margin-top: 20px;
	clear: both;
	float: left;
}

#pic_div #edit_pic {
	width: 200px;
	border: 1px solid gray;
	text-align: center;
}

#search_div {
	float: right;
}

#basic_details_div {
	margin-top: 20px;
	float: left;
	margin-left: 20px;
}

#social_media_links img {
	padding-right: 5px;
}

#contact {
	float: right;
	margin-top: 20px; 
}

#contact_div {
	margin-top: 20px;
	border: thin solid gray;
}

#edit_profile {
	background: gray;
	text-align: center;
}

#edit_profile a {
	color: white;
	text-decoration: none;
}

#contact_div h3 {
	padding-left: 10px;
	padding-right: 30px;
}

#contact_div p {
	padding-left: 25px;
	padding-right: 25px;
}

#contact_div #mail, #contact_div #mobile {
	padding-left: 50px;
	padding-right: 30px;
}

#text_details {
	float: left;
	width: 70%;
}

#tags {
	float: right;
	width: 30%;
}

#tags img {
	padding: 5px
}

#text_details .detail{
	margin: 20px;
}

.detail_container {
		border: 1px solid grey;
}
.detail .label {
	color: grey;
	padding-right: 5px;
}

.detail .value {
	padding-left: 5px;
}

.detail td {
	padding: 5px;
}

.related_profile_container {
	border: 1px solid gray;
	float: left;
	width: 160px;
	margin-right: 10px;
	margin-bottom: 20px;
	padding: 5px;
}

#related_profiles {
	border: 1px solid gray;
	margin-top: 20px;	
}
/* END - For the view profile page */

/*
*
* Edit profile page
*
*/

#basic_details_form, #weblinks_form, #edit_education_form, #edit_employment_form {
	width: 500px;
	margin-top: 20px;
	float: left;
	margin-left: 5px;
}

#basic_section .selectBox select, #edit_education_form .selectBox select, #edit_employment_form .selectBox select {
	height: 27px;
	width: 144px;
	margin-bottom: 10px;
	margin-right: 5px;
	padding-bottom: 0;
	padding-right: 0;
	color: black;
	background-color: #f0f0f0;
}

#basic_section input[type=text], #weblinks_form input[type=text], #edit_education_form input[type=text], #edit_employment_form input[type=text] {
	color: black;
	margin-bottom: 0px;
}

#basic_details_form span, #edit_education_form span, #edit_employment_form span{
	width: 150px;
	float: left;
	margin-top: 0px;
}

#basic_details_form input[type=submit], #edit_education_form input[type=submit], #edit_employment_form input[type=submit] {
	margin-left: 0px;
}

#basic_details_form textarea {
	width: 300px;
	height: 200px;
	border-radius: 5px;
}

#weblinks_form #web_links input[type=url] {
	color: black;
	width: 300px;
}

#weblinks_form #web_links input[type=text] {
	color: black;
	width: 300px;
}

#weblinks_form #web_links img {
	height: 30px;
	width: 30px;
}

#edit_education_form .edit_education, #edit_employment_form .edit_employment {
	border: 1px solid gray;
	padding: 5px;
	margin: 15px;
}

#edit_education_form .edit_education p, #edit_employment_form .edit_employment p {
	background: gray;
	margin: 0px;
	margin-bottom: 15px;
	padding: 3px;
}

#tabs_nav ul {
	list-style: none;
	padding-left: 0px;
}

#tabs_nav ul li {
	display: inline;
}

#tabs_nav ul li a {
	background: gray;
	color: white;
	padding: 10px;
	text-decoration: none;
}

#tabs_nav ul li.current a {
	background: #0f0f0f;
}


/*Footer*/

#footer{
	margin-top: 10px;
	text-align: center;
	border: 1px solid black;
	padding: 20px;
}

/*
*
* Registration step 2
*
*/

#mainLayout {
	overflow: hidden;
}

#stepSelect {
	list-style: none;
	padding-left: 0;
}

#stepSelect li {
	display: inline;
}

#stepSelect li:after {
	content: " > ";
}

#stepSelect li:last-child:after {
	content: "";
}

#stepSelect li.currentStep {
	font-weight: bold;
}

#mainLayout #texttip {
	font-style: italic;
}

.suggestedProfiles {
	width: 50%;
	height: 520px;
	float: left;
	border-right: 1px solid black;
}

.profile {
	width: 45%;
	background-color: #f0f0f0;
	border: 1px solid black;
	float: left;
	margin: 5px;
	cursor: pointer;
}

.profile ul {
	list-style: none;
	margin: 0;
	padding: 10px 0;
}

.profile li {
	text-align: center;
}

.profile:hover {
	background-color: gray;	
}

.fillDetails {
	float: left;
	padding-left: 5px;
}

.fillDetails form span {
	width: 150px;
	float: left;
	padding-top: 10px;
}


.fillDetails form .selectBox select {
	height: 40px;
	width: 144px;
	margin-bottom: 10px;
	margin-right: 5px;
	padding-bottom: 0;
	padding-right: 0;
	color: black;
	background-color: #f0f0f0;
}

.fillDetails form input[type=text] {
	color: black;
}

.fillDetails form input[type=file] {
	height: 40px;
	width: 244px;
}

.fillDetails form input[type=submit] {
	margin-left: 40%;
	margin-top: 10px;
}

.fillDetails form input[type=radio] {
	margin-bottom: 6px;
}

/*
*
* Registration step 3
*
*/


#mainContainer {
	overflow: hidden;
	margin-top: 40px;
	margin-bottom: 30px;
}

#connect_via_linkedin {
	float: left;
	width: 40%;
}

#connect_via_linkedin img {
	margin-left: 70px;
	margin-bottom: 20px;
}

#connect_via_linkedin ul
{
	list-style-type: square;
}

#or_text {
	float: left;
	width: 15%;
	margin-top: 50px;
}

#fillEmpDetails {
	float: left;
	width: 43%;
}

#fillEmpDetails form span {
	width: 150px;
	float: left;
	padding-top: 10px;
}

#fillEmpDetails form input[type=submit] {
	margin-left: 30%;
	margin-top: 10px;
}


#mainLayout #skip_step {
	float: right;
}

.related_profile {
	overflow: hidden;
	text-overflow: ellipsis;
}

.related_profile p {
	text-align: center;
}