/************* START GENERIC **************/

body{
	font-family: "DIN Web",Helvetica,Arial,sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	color: white;
	text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  	margin:0;
  	padding:0;
  	width:100%;
 }

p, h1, h2, h3, h4{
	margin: 0px;
}

.section-title, .section-subtitle {
	line-height: 40px;
	font-weight: 300;	
}

.section-title {
	font-size: 32px;
	padding-top: 35px;
}

.section-subtitle {
	color: rgba(255, 255, 255, 0.4);
	font-size: 28px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.feature-title {
	color: #6B9BB2;	
	font-size: 24px;
	padding-bottom: 10px;
}

.section-content {
	position: relative;
	max-width: 964px;
	margin: auto;
	padding: 0 20px;
}

.continuation-text {
	font-size: 22px;
	line-height: 28px;
	padding-top: 20px;
	padding-bottom: 30px;
}

.continuation-text span{
	color: #6B9BB2;
}

.cB{
	clear: both;
}

.left{
	float: left;
}

/************* END GENERIC **************/


/************* START HOME SECTION **************/

#header{
	height: 100px;
	background-image: url(../img/bg_header.png);
}


#logo {
	padding-top: 25px;
	color: white;
	color: #FFEFEF; 
	font: 40px 'LeagueGothicRegular';
	text-shadow: 0 2px 4px rgba(0, 0, 0, 0.75);
}

#sign-in {
	position: absolute;
	top: 38px;
	right: 62px;
	height: 24px;
	color: #E57300;
	font-size: 14px;
	text-shadow: 0 2px 4px rgba(0, 0, 0, 0.75);
	text-transform: uppercase;
}

#sign-in-note {
	position: absolute;
	top: 45px;
	right: 27px;
	height: 24px;
	font-size: 11px;
	padding-top: 10px;
}

div#home-section {
	background-image: url(../img/splash_04.jpg);
	margin: 0px;
	text-shadow: 0 1px 3px rgba(0, 0, 0, 0.75);
}

div.home-section-content {
	padding-top: 60px;
	padding-bottom: 110px;
}

.home-section-title {
	font-size: 36px;
	line-height: 42px;
	font-weight: 300;
}

.home-section-description {
	font-size: 22px;
	line-height: 28px;
	max-width: 550px;
	padding-top: 30px;
}

#home-intro-links {
	background-image: url(../img/intro_nav_bg.png);	
	width: 100%;
}


img#stakeholder-infographic {
	position: absolute;
	top: -8px;
	right: 12px;
	width: 377px;
}

.stake-holder{
	width: 200px;
	text-align: center;
	padding-right: 40px;
}

.stake-holder-image{
	padding-top: 10px;
}

.stake-holder-title{
	font-size: 21px;
}

.stake-holder-number{
	font-size: 13px;
}

.stake-holder-description{
	font-size: 13px;
	padding-top: 15px;
	padding-bottom: 60px;
}

/************* END HOME SECTION **************/

/************* START USECASES **************/

div#usecases {
	background-image: url(../img/paper_bg.gif);
}



/************* END USECASES **************/

/************* START DATABASE BUILDING **************/


div#data-building {
	background-image: url(../img/paper_bg_dark.gif);	
}

#data-building-icon-list{
	width: 450px;
}

#data-building-icon-list .icon-div{
	margin-right: 70px;
	margin-bottom: 50px;
	width: 150px;
	height: 150px;
}

#excel-icon{
	background-image: url(../img/excel.png);
}

#excel-icon:hover {
	background-image: url(../img/book_new-1.png);	
}

#collabative-icon{
	background-image: url(../img/collaborative.png);
}

#collabative-icon:hover {
	background-image: url(../img/book_new-1.png);	
}

#admin-data-icon{
	background-image: url(../img/admin-data.png);
}

#admin-data-icon:hover {
	background-image: url(../img/book_new-1.png);	
}

#social-media-icon{
	background-image: url(../img/social.png);
}

#social-media-icon:hover {
	background-image: url(../img/book_new-1.png);	
}



.data-building-icon-description{
	width: 450px;
	padding-left: 20px;
	padding-top: 20px;
}

.data-building-icon-description li{
	line-height: 25px;
	padding-bottom: 15px;
}

/************* END DATABASE BUILDING **************/


div#communication-features {
		background: #fff;
}

div#about {
	background: #667780;
}

div#footer {
	background: #3D474D;
	background-origin: padding-box;
}